# === Виртуальное окружение Python ===
venv/
.venv/
env/
ENV/

# === Байт-код и кэш Python ===
__pycache__/
*.py[cod]
*$py.class
*.so

# === Секреты и конфиденциальные данные (КРИТИЧНО) ===
.env
.env.exampl
!.env.exampl

# === Токены авторизации Garmin Connect ===
.garmin_tokens/
*.json
reset_db.py
# === Базы данных (если будет локальный SQLite для тестов) ===
*.sqlite3
*.db

# === Файлы IDE и редакторов ===
.idea/
.vscode/
*.swp
*.swo

# === Логи и дампы ===
*.log
docker-compose.override.yml